.sh-virtual-cursor {
    position: fixed;
    width: 22px;
    height: 22px;
    border: 2px solid #ff9f0a;
    background: rgba(255, 159, 10, 0.4);
    box-shadow: 0 0 15px #ff9f0a, 0 4px 12px rgba(var(--sh-shadow-rgb, 0, 0, 0),0.8);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999999;
    transform: translate(-50%, -50%);
    display: none;
    transition: transform var(--sh-dur-1) linear;
}
.sh-virtual-cursor.visible {
    display: block;
}
